/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 5, 2023, 12:13:26 AM
    Author     : ADMIN
*/
.topForm{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width: .4px .4px .2px .4px;
}
.semiTopForm{
    -fx-background-color:#efefef;
    -fx-border-color:#000;
    -fx-border-width: .2px .4px .4px .4px;
}
.close{
    -fx-background-color: transparent;
    -fx-cursor:hand;
}
.close:hover{
    -fx-background-color: #ff496a;
}
.minimize{
    -fx-background-color: transparent;
    -fx-cursor:hand;
}
.minimize:hover{
    -fx-background-color: #ddd;
}
.navForm{
    -fx-background-color: linear-gradient(to top right, #3c2c21, #93773e);
}
.navBtn{
    -fx-background-color: transparent;
    -fx-cursor:hand;
    -fx-font-size:14px;
    -fx-text-fill:#fff;
    -fx-font-family:Arial;
    -fx-alignment: CENTER-LEFT;
}
.signOut{
    -fx-background-color: #477859;
    -fx-cursor:hand;
    -fx-background-radius:20px;
}
.signOut:hover{
    -fx-background-color:#58ae78;
}
.shadow{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5),8,0,0,0);
}
.whiteBg{
    -fx-background-color:#fff;
    -fx-background-radius:8px;
}
.card{
    -fx-background-color:linear-gradient(to right, #294c46,#2d7256);
    -fx-background-radius:4px;
}
.addBtn{
    -fx-background-color: #39556b;
    -fx-border-radius:4px;
    -fx-cursor:hand;
    -fx-font-size:14px;
    -fx-text-fill:#fff;
    -fx-font-family:Arial;
}
.addBtn:hover{
    -fx-background-color:#4679a1;
}
.updateBtn{
    -fx-background-color: #386858;
    -fx-border-radius:4px;
    -fx-cursor:hand;
    -fx-font-size:14px;
    -fx-text-fill:#fff;
    -fx-font-family:Arial;
}
.updateBtn:hover{
    -fx-background-color:#49a183;
}
.clearBtn{
    -fx-background-color: #82467e;
    -fx-border-radius:4px;
    -fx-cursor:hand;
    -fx-font-size:14px;
    -fx-text-fill:#fff;
    -fx-font-family:Arial;
}
.clearBtn:hover{
    -fx-background-color:#a4479e;
}
.deleteBtn{
    -fx-background-color: #8c2c32;
    -fx-border-radius:4px;
    -fx-cursor:hand;
    -fx-font-size:14px;
    -fx-text-fill:#fff;
    -fx-font-family:Arial;
}
.deleteBtn:hover{
    -fx-background-color:#b5323b;
}
.textField{
    -fx-background-color:linear-gradient(to bottom ,#efefef,#eee);
    -fx-background-radius:2px;
    -fx-font-family: Tahoma;
    -fx-border-color: #000;
    -fx-border-radius:2px;
    -fx-border-width: .4px;
}
.textField:focused{
    -fx-background-color:#fff;
    -fx-border-color:linear-gradient(to top right ,#3c2c21,#93773e);
    -fx-border-width:1px;
}
.search{
    -fx-background-color:transparent;
    -fx-font-size:13px;
    -fx-border-color:linear-gradient(to top right ,#3c2c21,#93773e);
    -fx-font-family: Arial;
    -fx-border-radius:4px;
    -fx-border-width: .8px;
    -fx-padding: 0px 0px 0px 28px;
}
.search:focused{
    -fx-border-width:1.5px;
}
.table-view{
    -fx-background-color:transparent;
    -fx-border-color:linear-gradient(to top right ,#3c2c21,#93773e);
    -fx-border-radius:8px;
    -fx-border-width: .2px;
    -fx-padding: 0px ;
}
.table-view .table-column{
    -fx-alignment: CENTER;
}
.table-view .column-header-background{
    -fx-background-color:linear-gradient(to top right ,#3c2c21,#93773e);
    -fx-background-radius:8px 8px 0px 0px;
    -fx-background-insets: 0 0 0 0;
}
.table-view .column-header, .filter{
    -fx-background-color:transparent;
    -fx-size:40px;
}
.table-view .column-header .label{
    -fx-text-fill:#fff;
    -fx-font-family:Arial;
}